body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font-family: "Space Grotesk";
}

.root {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  background-image: url(login-background.svg);
}

.header {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 36px;
  flex-direction: column;
} 

.link-header {
  margin-left: 60px;
}

main {
  height: calc(100vh - 64px);
  overflow: auto;
  position: relative;
}

#bkg-img {  
  width: 175px;
} 

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.login-form {
  width: 402px;

} 

.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  height: 78px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top: 2px solid rgb(211, 219, 230);
  padding: 12px 24px;
}

.prontmed-copyright {
  color: rgb(136, 148, 165);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.social {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 200px;
}