body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font-family: "Space Grotesk";
}

.root {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  background-image: url(login-background.svg);
  background-repeat: no-repeat;
}

.header {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 36px;
  flex-direction: column;
} 

.link-header {
  margin-left: 60px;
}

main {
  height: calc(100vh - 64px);
  overflow: auto;
  position: relative;
}

.ibox {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
}

.login-form {
  width: 402px;
} 

.access-title {
  text-align: center;
  margin-bottom: 20px;
}

.font-style {
  color: rgb(74, 85, 101);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}

.inp {
  width: 100%;
  margin-bottom: 12px;
  -webkit-box-align: center;
  align-items: center;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(50, 59, 72);
  display: inline-flex;
  padding: 8px 16px;
  position: relative;
  width: 400px;
}

.inp mail-form{
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-width: 50px;
  box-sizing: border-box;
}

.lbl-form {
  color: rgb(50, 59, 72);
  font-weight: 700;
  color: rgb(50, 59, 72);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.input-form {
  background-color: transparent;
  border: none;
  color: inherit;
  height: 22px;
  outline: none;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  height: 78px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top: 2px solid rgb(211, 219, 230);
  padding: 12px 24px;
}

.prontmed-copyright {
  color: rgb(136, 148, 165);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.social {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 200px;
}