* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: 0px;
  font-family: "Space Grotesk";  
}

:root {
  --cor-nova-branco: #f7f9fb;
  --almost-white: #F6F8FA;
}

body {
  background-color: rgb(255, 255, 255);
  position: relative;
  display: block;
}

.all-cont {
  background-color: var(--cor-nova-branco);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background-image: url(login-background.svg);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: auto 100vh;
}

.header-prontmed {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 36px;
  flex-direction: column;
} 

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.link-header {
  margin-left: 60px;
}

svg {
  width: 215;
  height: 50;
  fill: rgb(50, 59, 72);
}

.ibox {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
}

main {
  height: calc(100vh - 64px);
  overflow: auto;
  position: relative;
}

.login-form {
  width: 402px;
}

.access-title {
  color: rgb(74, 85, 101);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}

.access-acount {
  text-align: center !important;
  margin-bottom: 20px;
}

::before, ::after {
  box-sizing: inherit;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mail-form {
  -webkit-box-align: center;
  align-items: center;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(50, 59, 72);
  display: inline-flex;
  padding: 8px 16px;
  position: relative;
}

.mail-form * {
  box-sizing: border-box;
}

.input {
  width: 100%;
  margin-bottom: 12px;  
}

.input-mail {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-width: 50px;;
}

.mail-form .mail-class {
  color: rgb(50, 59, 72);
}

.input > div > label {
  font-weight: 700;
}

.lbl-form {
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 12px;
  line-height: 18px;
}

.input-form {
  background-color: transparent;
  border: none;
  color: inherit;
  height: 22px;
  outline: none;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

::placeholder {
  color: #D3D3D3;
}

.pass {
  width: 100%;
  margin-bottom: 12px;  
}

.hidden-pass {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 8px; 
}

.mail-form svg {
  fill: rgb(50, 59, 72);
}

.svg-h-pass {
  cursor: pointer;
}

.more-info {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 20px 0px;
}

.doubt {
  color: rgb(74, 85, 101);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.more-info a{
  margin-left: 4px;
}

.mail-to {
  font-weight: bold;
}

.mail-doubt {
  background-color: transparent;
  border: none;
  color: rgb(68, 192, 188) !important;
  cursor: pointer;
  padding: 0px;
  text-decoration: underline;
  font-family: "Space Grotesk";
  font-size: 16px;
  line-height: 24px; 
}

.access-button {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  gap: 8px;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-out 0s;
  height: 48px;
  min-width: 88px;
}

.blue-btn {
  width: 100%;
  background-color: rgb(68, 192, 188);
}

.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  height: 78px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-top: 2px solid rgb(211, 219, 230);
  padding: 12px 24px;
}

.prontmed-copyright {
  color: rgb(136, 148, 165);
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.social {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 200px;
}

